| You got a new registration from #{@user.FirstName} #{@user.LastName}!
| \===============================================

|  Registration Details:
| \--------------------------

|  Name: #{@user.FirstName} #{@user.LastName} 
| Email: #{@user.email}

|  Message:
|  #{@user.message}