| You got a new registration from #{@user.FirstName} !
| \===============================================

|  Registration Details:
| \--------------------------

|  Name: #{@user.FirstName}
| Email: #{@user.email}

|  Message:
|  #{@user.message}