| You got a new registration from #{@user.first_name} !
| \===============================================

|  Registration Details:
| \--------------------------

|  Name: #{@user.first_name}
| Email: #{@user.email}

|  Message:
|  #{@user.message}