- provide :title, @user.first_name
div.main-screen
  = render  'shared/header'
  = render  'user_form'
= render  'shared/footer'
= javascript_pack_tag 'users/edit', 'data-turbolinks-track': 'reload'
= javascript_pack_tag 'users/show'
