@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.montserrat {
    font-family: 'Montserrat';
}
