header {
  hr { margin: 0 !important; }

  .navbar-brand {
      font-family: 'Montserrat';
      font-weight: 700;
  }

  .navbar {
    .userinfo {
      ul {
        li {
          .gravatar {
            border-radius: 50px;
            margin-left: 7px;
          }
          .dropdown-toggle::after {             // dropdown triangle
            display: none;
          }
          ul {
            text-align: center;
            background-color: #464E4F;
          }
        }
      }
    }
  }

  a { color: var(--bs-light) !important; }

.hovc:hover {
  color: #505050 !important;
  }
}
