// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html, body {
    // overflow-x: hidden;
    background: #262F30 
}

.place-screen {

    background: url('../images/place-background.png');
    background-size: cover;
    height: Max(350px);

    .place-name {
        margin-top: 10vh;
        color: var(--bs-light);

        h1 {
            max-width: 60%;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 4em; 
        }

        p {
            max-width: 60%;
            font-size: 1.5em;
        }
    }
  }

  .pg-cards {
    padding: 2em 0;
    background: #262F30;


    .container {
        display: grid;
        grid-template-columns: auto auto;
    }
  }

.card {
    background-color: #444C4D!important;
    border-radius: 20px!important;

    .card-description{
        font-family: 'Montserrat';
        font-weight: 900;
    }
}

.card-image {
  background-image: url('../images/workspace-image.jpg');
  min-width: 35rem;
  min-height: 35rem;
  background-size: cover;
}

.map-card {
  background-image: url('../images/map.jpg');
  min-width: 25rem;
  min-height: 15rem;
  background-size: cover;
}

$btn-color: #91CB82;

* {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#hero {
  .container {
    header {
      position: absolute;
      top: 35px;
      z-index: 1;
    }
  }
  width: 100%;
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.8),
              rgba(0, 0, 0, 0.3) ),
              url("../images/Potential-Feature-Image-2-1280x640.png") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 82px;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  h1 {
    font-weight: 900;
    font-size: 96px;
    line-height: 106px;
    letter-spacing: 0.01em;
    margin: 0;
    color: #fff;
  }

  @media (max-width: 768px) {
    text-align: center;
    padding-top: 58px;

    h1 {
      font-size: 50px;
    }
  }

  @media (max-height: 500px) {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Filter
--------------------------------------------------------------*/

.filter {
  background: #444C4D;
  height: 183px;

  .btn {
    background-color: $btn-color;
    color: white;
    margin-top: 45px;
  }

  .s-filter {
    margin-left: 25%;
    width: 302px;
    height: 88px;
    border-radius: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0px;

    @media (max-width: 1200px) {
      width: available;
      width: -moz-available;
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  .s-price {
    float: right;
    margin-right: 25%;
    margin-top: 72px;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0px;

    @media (max-width: 1199px) {
      display: none;
    }

  }
}


/*--------------------------------------------------------------
# Cards of places
--------------------------------------------------------------*/

.d-flex {
  .it {
    background-color: #262F30;

    .col-md {
      //For just col
      // display: flex;
      // justify-content: center;

      //For col-md
      text-align: center;
      text-align: -moz-center;
    }

    .card {
      border: none;
      border-radius: 20px;
      overflow: hidden;
      max-width: 400px;
      min-height: 300px;
      min-width: 250px;
      box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
      background-image: url('../images/image-5.png');
      margin: 32px;
      transition: transform 500ms ease-out, background-size 500ms ease-in-out;

      @media (max-width: 768px) {
        min-height:350px;
      }
      @media (max-width: 420px) {
        min-height: 250px;
      }

      &.card-has-bg{
        background-size: 120%;
        background-repeat:no-repeat;
        background-position: center center;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: inherit;
        }

        &:hover {
          box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
          background-size: 125%;
        }
      }
      &:hover {
        cursor: default;
        transform: scale(1.08);
      }
      .card-img-overlay {
        padding: 0;

        .card-footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          background: rgba(38, 47, 48, 0.8);

          a {
            width: -moz-available;
            width: -webkit-fill-available;
          } 

          h2 {
            margin: 0;
          }

          .col-6 {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
              .btn {
                background-color: $btn-color;
                width: -moz-available;
                width: -webkit-fill-available;
                border-radius: 20px;
                height: 54px;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0px;
              }
            }
          }
        }
      }
    }
  }
}



/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/

.pag {
  .mx-auto {
    width: auto;

    .apple_pagination {
      text-align: center;
      padding: 1em;
      cursor: default;
      font-size: 1.2em;

      a, span {
        padding: 0.2em 0.3em;
      }
      .disabled {
        color: #aaaaaa;
      }
      .current {
        font-style: normal;
        font-weight: bold;
        background-color: darken(#f1f1f1, 20);
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        line-height: 1.4;
        -moz-border-radius: 1em;
        -webkit-border-radius: 1em;
        border-radius: 1em;
        text-shadow: rgba(white, .8) 1px 1px 1px;
      }
      a {
        text-decoration: none;
        color: white;
        &:hover, &:focus {
          text-decoration: underline;
          color: black;
        }
      }
    }
  }
}
