// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$text-color: #FFF;

html, body {
    // overflow-x: hidden;
    background: #262F30;
}

.place-screen {

    background: url('../images/place-background.png');
    background-size: cover;
    height: Max(350px);

    .place-name {
        margin-top: 10vh;
        color: var(--bs-light);

        h1 {
            max-width: 60%;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 4em;
        }

        p {
            max-width: 60%;
            font-size: 1.5em;
        }
    }
  }

  .pg-cards {
    padding: 2em 0;
    background: #262F30;


    .container {
        display: grid;
        grid-template-columns: auto auto;
    }
  }

.card {
    background-color: #444C4D!important;
    border-radius: 20px!important;

    .card-description{
        font-family: 'Montserrat';
        font-weight: 900;
    }
}

.card-image {
  background-image: url('../images/workspace-image.jpg');
  min-width: 35rem;
  min-height: 35rem;
  background-size: cover;
}

.map-card {
  background-image: url('../images/map.jpg');
  min-width: 25rem;
  min-height: 15rem;
  background-size: cover;
}

$btn-color: #91CB82;

* {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#hero {
  .container {
    header {
      position: absolute;
      left: 0;
      top: 15px;
      z-index: 1;
    }
  }
  width: 100%;
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.8),
              rgba(0, 0, 0, 0.3) ),
              url("../images/Potential-Feature-Image-2-1280x640.png") top center no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 82px;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  h1 {
    font-weight: 900;
    font-size: 96px;
    line-height: 106px;
    letter-spacing: 0.01em;
    margin: 0;
    color: #fff;
  }

  @media (max-width: 768px) {
    text-align: center;
    padding-top: 58px;

    h1 {
      font-size: 50px;
    }
  }

  @media (max-height: 500px) {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Filter
--------------------------------------------------------------*/

.filter {
  background: #444C4D;
  height: 183px;

  .btn {
    background-color: $btn-color;
    color: white;
    margin-top: 45px;
  }

  .s-filter {
    margin-left: 25%;
    width: 302px;
    height: 88px;
    border-radius: 20px;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 26px;
    letter-spacing: 0px;

    @media (max-width: 1200px) {
      width: available;
      width: -moz-available;
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  .s-price {
    float: right;
    margin-right: 25%;
    margin-top: 72px;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0px;

    @media (max-width: 1199px) {
      display: none;
    }

  }
}


/*--------------------------------------------------------------
# Cards of places
--------------------------------------------------------------*/

.d-flex {
  .rating {
    margin: 0 0 0 52%;
    display: flex;
  }
  .it {
    background-color: #262F30;

    .card {
      border: none;
      border-radius: 20px;
      overflow: hidden;
      max-width: 400px;
      min-height: 300px;
      min-width: 250px;
      box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
      background-image: url('../images/image-5.png');
      margin: 32px;
      transition: transform 500ms ease-out, background-size 500ms ease-in-out;

      @media (max-width: 768px) {
        min-height:350px;
      }
      @media (max-width: 420px) {
        min-height: 250px;
      }

      &.card-has-bg{
        background-size: 120%;
        background-repeat:no-repeat;
        background-position: center center;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: inherit;
        }

        &:hover {
          box-shadow: 0 0 5px -2px rgba(0,0,0,0.3);
          background-size: 125%;
        }
      }
      &:hover {
        cursor: default;
        transform: scale(1.08);
      }
      .card-img-overlay {
        padding: 0;

        .card-footer {
          display: flex;
          justify-content: center;
          position: absolute;
          min-height: 130.5px;
          bottom: 0;
          width: 100%;
          background: rgba(38, 47, 48, 0.8);

          a {
            width: -moz-available;
            width: -webkit-fill-available;
          }

          h5 {
            font-weight: bold;
            min-width: 148px;
          }

          p {
            margin: 0;
            font-weight: 280;
            font-size: small;
            color: gainsboro;
          }

          .col-6 {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
              .btn {
                background-color: $btn-color;
                width: -moz-available;
                width: -webkit-fill-available;
                border-radius: 20px;
                height: 54px;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: 21px;
                letter-spacing: 0px;
                min-width: 148px;
              }
            }
          }
        }
      }
    }
  }
}


/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/

.pag {
  .mx-auto {
    width: auto;

    @import 'paginates';
  }
}


/*--------------------------------------------------------------
# My Places Page of places
--------------------------------------------------------------*/
.my_places {
  background: url("../images/homepage-bg.png");
  background-size: cover;
  @media screen and (max-width: 770px ) {
  min-height: 500px;
  }

  .pag {
    .mx-auto {
      width: auto;

      @import 'paginates';
    }
  }

  h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 2.4em;
    color: $text-color;
  }
  .button-myplaces {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.1em;
    color: $text-color;
    background-color: #91CB82;
    @media screen and (max-width: 1140px ) {
      .button-myplaces {
        width: 20%;
      }
    }
  }

  .myinfo {
    ul {
      .dropdown-toggle::after {             // dropdown triangle
        display: none;
      }
      .dropdown-menu {
        text-align: center;
        background-color: #464E4F;

        .dropdown-item {
          color: white;

          &:hover {
            color: #505050;
          }
        }
      }
    }
  }

  a {
      color: var(--bs-light);
      text-decoration: none;
    }

  .hovc:hover {
    color: #505050;
  }

  .places {
    background-color: rgba(196, 196, 196, 0.3);
    backdrop-filter: blur(30px);
    border-radius: 20px;

    .card {
      padding: 0;
      border: none;
      overflow: hidden;
      max-width: 330px;
      min-height: 224px;
      min-width: 202px;
      background: transparent !important;
      margin: 10px;
      transition: transform 500ms ease-out, background-size 500ms ease-in-out;

      @media (max-width: 768px) {
        min-height:350px;
      }
      @media (max-width: 420px) {
        min-height: 250px;
      }

      .col-md-4 {
        margin: 0;
      }

      .card-footer {
        width: 100%;
        background: rgba(38, 47, 48, 0.8);
        margin-top: -8em;
        padding-bottom: 0;
        padding-left: 1.5%;

        .row:first-child {
          height: 2.1em;
        }
        .col-md-5 {
            margin-right: -1%;
          @media screen and (max-width: 1140px ) {
            margin-right: -5%;
          }

        }
        .rating {
          margin: 0 0 0 52%;
          font-size: 1.2em;

          @media screen and (max-width: 360px ) {
              margin: 0 0 0 43%;
          }
          @media (min-width: 360px) and (max-width: 420px ) {
            font-size: 0.8em;
          }
          @media (min-width: 420px) and (max-width: 432px ) {
            font-size: 1em;
            margin: 0 0 0 25%
          }
          @media (min-width: 432px) and (max-width: 570px ) {
            font-size: 1.1em;
            margin: 0 0 0 38%;
          }
          @media (min-width: 570px) and (max-width: 770px ) {
            margin: 0 0 0 28%;
            font-size: 1.2em;
          }
          @media (min-width: 768px) and (max-width: 772px ) {
            font-size: 0.9em;
            margin: 0 0 0 18%;
          }
          @media (min-width: 770px) and (max-width: 990px ) {
            margin: 0 0 0 10%;
            font-size: 1.1em;
          }
          @media (min-width: 960px) and (max-width: 1200px ) {
            margin: 0 0 0 8%;
          }
          @media (min-width: 990px) and (max-width: 1140px ) {
            margin: 0 0 0 8%;
            font-size: 1em;
          }
          @media (min-width: 1140px) and (max-width: 1200px ) {
            margin: 0 0 0 12%;
            font-size: 1em;
          }
          @media (min-width: 1200px) and (max-width: 1400px ) {
            margin: 0 0 0 28%;
          }
          @media (min-width: 1400px) and (max-width: 1920px ) {
            margin: 0 0 0 32%;
          }
        }

        h5 {
          margin: 0;
          width: 100%;
          font-size: 1.4em;

          @media screen and (max-width: 360px ) {
            font-size: 1.1em;
            margin-left: 1%;
          }
          @media (min-width: 360px) and (max-width: 432px ) {
            font-size: 1.2em;
            margin-left: 1%;
          }
          @media (min-width: 432px) and (max-width: 570px ) {
            font-size: 1.4em;
            text-align: center;
          }
          @media (min-width: 570px) and (max-width: 770px ) {
            font-size: 1.6em;
          }
          @media (min-width: 768px) and (max-width: 771px ) {
            font-size: 1.1em;
          }
          @media (min-width: 770px) and (max-width: 990px ) {
            font-size: 1.2em;
          }
          @media (min-width: 990px) and (max-width: 1140px ) {
            margin-left: 4%;
            width: 100%;
            font-size: 1.2em;
            text-align: center;
          }
          @media (min-width: 1140px ) and (max-width: 1200px ) {
            font-size: 1.3em;
          }
          @media (min-width: 1140px ) and (max-width: 1920px ) {
            margin-left: 0.1%;
          }
        }
        .link_font-size {
          font-size: 1.1em;

          @media screen and (max-width: 432px ) {
            width: 105%;
          }
          @media (min-width: 432px) and (max-width: 770px ) {
            width: 104%;
          }
          @media (min-width: 770px) and (max-width: 990px ) {
            width: 106%;
          }
          @media (min-width: 990px) and (max-width: 1200px ) {
            font-size: 1em;
            width: 106%;
          }
          @media (min-width: 1200px) and (max-width: 1400px ) {
            width: 104%;;
          }
          @media (min-width: 1400px) and (max-width: 1920px ) {
            width: 104%;
          }
        }

        p {
          margin-left: 8%;
          margin-bottom: 4%;
          font-weight: 280;
          font-size: 1.2em;
          &:first-child {
            margin-bottom: 1%;
            @media (min-width: 360px) and (max-width: 460px ) {
              margin-bottom: 11%;
            }
            @media (min-width: 360px) and (max-width: 460px ) {
              margin-bottom: 11%;
            }
            @media (min-width: 990px) and (max-width: 1200px ) {
              margin-bottom: 6%;
            }
          }
          &:last-child {
            margin-bottom: 1%;
            @media (min-width: 360px) and (max-width: 380px ) {
              margin-top: 22%;
            }
            @media (min-width: 380px) and (max-width: 420px ) {
              margin-top: 16%;
            }
            @media (min-width: 420px) and (max-width: 460px ) {
              margin-top: 1%;
            }
            @media (min-width: 990px) and (max-width: 1200px ) {
              margin-top: 8%;
            }
          }
          @media screen and (max-width: 360px ) {
            margin-left: -1%;
          }
          @media (min-width: 360px) and (max-width: 420px ) {
            font-size: 0.8em;
            margin-left: -1%;
          }
          @media (min-width: 420px) and (max-width: 460px ) {
            font-size: 1em;
            margin-left: -1%;
          }
          @media (min-width: 460px) and (max-width: 570px ) {
            font-size: 1.1em;
            margin-left: -1%;
          }
          @media (min-width: 570px) and (max-width: 768px ) {
            font-size: 1.2em;
            margin-left: -1%;
          }
          @media (min-width: 768px) and (max-width: 772px ) {
            font-size: 0.9em;
            margin-left: -1%;
          }
          @media (min-width: 768px) and (max-width: 990px ) {
            margin-left: -1%;
            font-size: 1.1em;
          }
          @media (min-width: 990px) and (max-width: 1140px ) {
            margin-left: -1%;
            font-size: 1em;
          }
          @media (min-width: 1140px) and (max-width: 1200px ) {
            margin-left: -1%;
            font-size: 1em;
          }
          @media (min-width: 1200px ) and (max-width: 1920px ) {
            margin-left: 3%;
          }

        }
        .font_family_price {
          font-family: Mabry;
        }

        .col-6 {
          display: flex;
          align-items: center;
          justify-content: center;

          a {
            .btn {
              background-color: $btn-color;
              width: -moz-available;
              width: -webkit-fill-available;
              border-radius: 20px;
              height: 54px;
              font-size: 18px;
              font-style: normal;
              font-weight: 700;
              line-height: 21px;
              letter-spacing: 0px;
            }
          }
        }
      }
    }
  }
  .empty_my_places {
    h2 {
      font-size: 2.6em;
      @media (min-width:  360px) and (max-width: 420px ) {
        font-size: 1.8em;
      }
      @media (min-width:  420px) and (max-width: 770px ) {
        font-size: 2em;
      }
    }
    .empty_places {
      background-color: rgba(196, 196, 196, 0.3);
      backdrop-filter: blur(30px);
      border-radius: 20px;
      margin-left: 8%;
      max-width: 1075px;
      max-height: 556px;
      @media screen and (max-width: 430px ) {
        margin: 20% 0 20% 0;
      }
      @media (min-width: 430px ) and (max-width: 570px ) {
        margin: 12% 0 12% 0;
      }
      @media (min-width: 570px ) and (max-width: 770px ) {
        margin: 14% 0 14% 0;
      }
      @media (min-width: 770px ) and (max-width: 1920px ) {
        margin-top: 5%;
      }

      h3 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 2.6em;
        color: #FFFFFF;
        margin: 21% 0 21% 0 ;
        @media (min-width:  360px) and (max-width: 400px ) {
          font-size: 1.5em;
          padding: 16% 0 16% 0;
        }
        @media (min-width:  400px) and (max-width: 470px ) {
          font-size: 1.7em;
        }
        @media (min-width:  400px) and (max-width: 420px ) {
          padding: 8% 0 8% 0;
        }
        @media (min-width:  420px) and (max-width: 550px ) {
          padding: 11% 0 11% 0;
        }
        @media (min-width:  470px) and (max-width: 770px ) {
          font-size: 1.9em;
        }
        @media (min-width: 770px ) and (max-width: 990px ) {
          font-size: 2.2em;
        }
        @media (min-width: 990px ) and (max-width: 1200px ) {
          font-size: 2.4em;
        }
        @media (min-width: 1200px ) and (max-width: 1920px ) {
          font-size: 2.6em;
        }
      }
      .footer p {
        display: flex;
        justify-content: center;
      }
    }
  }
}
