// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$text-color: #FFFFFF;
$link-color: #f8f9fa;

// Styles for main container page
.main-screen {
    background: url("../images/homepage-bg.png");
    background-size: cover;
    height: Max(1080px, 100vh);

//======== FORMS ========
  .signin-form, .signup-form, .forgot_password-form, .resend_confirmation-form {
    background-color: #464E4F;
    margin-top: 20vh;
    border-radius: 20px;
    padding-top: 48px;

    button {
      width: 80%;
      border-radius: 20px;
     }
  }

  .link_in_color {
    color: $link-color;
  }

  .signin-form, .signup-form {
    width: 40%;

    @media screen and (max-width: 960px) {
      width: 100%;
    }

    @media (min-width: 360px) and (max-width: 540px) {
      width: 80%;
    }

    @media (min-width: 540px) and (max-width: 960px) {
      width: 70%;
    }

    @media (min-width: 760px) and (max-width: 960px) {
      width: 50%;
    }

    @media (min-width: 960px) and (max-width: 980px) {
      width: 60%;
    }
  }

// Styles for forgot_password form
  .forgot_password-form, .resend_confirmation-form {
    width: 38%;

    h2 {
      font-size: 1.6em;
    }

    label {
      margin-left: 12%
    }

    input {
      width: 70%;
      margin: auto;
      margin-right: 16%;
    }

    button {
      width: 70%;
    }

    @media screen and (max-width: 960px) {
      width: 100%;
    }

    @media (min-width: 360px) and (max-width: 540px) {
      width: 80%;
    }

    @media (min-width: 540px) and (max-width: 960px) {
      width: 70%;
    }

    @media (min-width: 760px) and (max-width: 960px) {
      width: 50%;
    }

    @media (min-width: 960px) and (max-width: 980px) {
      width: 60%;
    }
  }
// Styles resend_confirmations form
  .resend_confirmation-form {
     width: 38%;

      @media screen and (max-width: 960px) {
        width: 80%;
      }
  }

//======== PROFILE ========
  .profile .row {
    max-width: 1036px;
    padding: 32px;
    background: #464E4F;
    border-radius: 20px;
    font-weight: 700;
    margin-top: 12rem;
    .card-body{
      padding: 0;

      .row {
        padding: 0 1rem 0 0;
        margin: 0 -4% 0 -3%;

        &.row-name>* {
          display: flex;
          justify-content: center;

          @media screen and (min-width: 770px) {
            &.username { justify-content: flex-start; }     // name
            &:not(.username) { justify-content: flex-end; } // button
          }
        }

        .iti {
          width: 100%;
        }

        div label {
          width: 100%;
          @media screen and (max-width: 570px) {
            width: 100%;
          }
        }
        .input_width {
          width: 100%;
          color: black;
          font-weight: 500;
        .phone_numbers {

        }
          @media screen and (max-width: 57px) {
            margin-left: 5%;
            &:last-child {
              margin: 0;
            }
          }
        }
      }
      .about {
        width: 98%;
        border-bottom: 2px solid white;
      }
    }

    .name {
      font-size: 18px;
      margin-bottom: 0;
    }

    .gravatar { border-radius: 100%; margin-bottom: 12px; }

    .col-gravatar { text-align: center; }

    .change-avatar {
      font-weight: 800;
      font-size: 12px;
      border-radius: 20px;
      background-color: #91CB82;
      padding: 4px 10px 4px;
    }

    .button_profile {
      font-weight: 800;
      font-size: 12px;
      border-radius: 20px;
      background-color: #91CB82;
      padding: 4px 10px 4px;

      justify-content: center;

      @media screen and (min-width: 1024px) {
        justify-content: flex-end;
      }
    }
  }
}

.d-flex .it .card .card-img-overlay .card-footer .col-6 {
  flex-direction: column;
}

.bookings-title h1 {
  padding: 8px 24px;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 48px;
}
