// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

html, body {
    // overflow-x: hidden;
    background: #262F30 !important;
}

.place-screen {

    background: url('place-background.png');
    background-size: cover;
    height: Max(400px);

    .place-name {
        margin-top: 10vh;
        color: var(--bs-light);

        h1 {
            max-width: 60%;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 4em; 
        }

        p {
            max-width: 60%;
            font-size: 1.5em;
        }
    }
  }

  .pg-cards {
    padding: 2em 0;
    background: #262F30;


    .container {
        display: grid;
        grid-template-columns: auto auto;
    }
  }

.card {
    background-color: #444C4D!important;
    border-radius: 20px!important;

    .card-description{
        font-family: 'Montserrat';
        font-weight: 700;
    }
}
