// Place all the styles related to the Places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

header hr { margin: 0 !important; }

html, body {
    // overflow-x: hidden;
    background: #262F30 !important;
}

.place-screen {

    background: url('place-background.png');
    background-size: cover;
    height: Max(400px);

    .navbar-brand {
        font-family: 'Montserrat';
        font-weight: 700;
    }

    .place-name {
        margin-top: 10vh;
        color: var(--bs-light);

        h1 {
            max-width: 60%;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 4em; 
        }

        p {
            max-width: 60%;
            font-size: 1.5em;
        }
    }
  }

  .pg-cards {
    padding: 2em 0;
    background: #262F30;


    .container {
        display: grid;
        grid-template-columns: auto auto;
    }
  }

  .card-description{
    font-family: 'Montserrat';
    font-weight: 700;
  }
