// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

