// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Icons');
$text-color: #FFFFFF;


html, body {
    // overflow-x: hidden;
   
}

// Styles for main container page 
.main-screen {

    background: asset-url("Registration_form.png");
    background-size: cover;
    height: Max(1080px, 100vh);

    .description {
        margin-top: 30vh;
        color: var(--bs-light);

        h1 {
            max-width: 60%;
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 4em; 
        }

        p {
            max-width: 60%;
            font-size: 1.5em;
        }
    }


// Styles for tag h2 form sign-up
    .sign_up_h2 {
      width: 15%;
      height: 4%;
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: 600;
      font-size: 2.4em;
      line-height: 40%;
      color: $text-color;
  }
    
// Styles for form sign-up
  .form-sign_up {
    position: relative;
    width: 26%;
    height: auto;
    left: 38%;
    top: 20%;
    background: #464E4F;
    border-radius: 4%;
    text-align: center;
    color: $text-color;
      .new_user {
        position: inherit;
        top: 8%;
      }
      input, select {
        width: 71%;
        height: 2.3em;
        background: #FFFFFF;
        border-radius: 0.5em;
        margin: 2%; 
      }
      label {
        width: 71%;
        height: 0.4em;
        left: 78%;
        top: 30%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 1.05em;
        line-height: 3%;
        text-align: left;
      }
      .password_width {
        width: 22%;
        margin-left: -14%;
      }
      .link_color {
        color: $text-color;
      }
      .action_button {
        width: 50%;
        height: 2.8em;
        background: #91CB82;
        border-radius: 1em;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 1.2em;
        line-height: 1em;
        color: $text-color;
        margin-top: 6%;
        margin-bottom: 8%;
      }
  }
 // Styles for form sign-in
  .sign_in_h2 {
    margin: 10% 45% 0%;
    margin-bottom: 3%;
    font-size: 2.4em;
    font-weight: 600;
    color: $text-color;
  }
  @media screen and (max-width: 1140px) {
          .sign_in_h2 {
            font-size: 1.4em;
          }
      }
  .form-sign_in {
    width: 26%;
    min-width: 200px;
    height: 42%;
    margin: 1% 40% 0%;
    background: #464E4F;
    border-radius: 1.2em;
    text-align: center;
    color: $text-color;
      label {
        width: 71%;
        height: 0.6em;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 1.05em;
        line-height: 1.2em;
        text-align: left;
      }
      input {
        width: 71%;
        height: 2.2em;
        background: #FFFFFF;
        border-radius: 0.4em;
        margin: 2%;  
      }

      @media screen and (max-width: 1140px) {
          label {
            font-size: 1em;
          }
          input {
            height: 1.6em;
          }
      }

      @media screen and (max-width: 720px) {
          label {
            font-size: 0.9em;
          }
          input {
            height: 1.6em;
          }
    
      }

      .form-check-box {
        width: 50%;
        height: 1.6em;
        margin-right: 15%;
        float: right;
        margin-top: -5%;
      }
      .btn_sign_in {
        width: 50%;
        height: 2.8em;
        font-weight: 600;
        background: #91CB82;
        border-radius: 1em;
        margin-bottom: 6%;
        color: $text-color
      }
      .link_in_color {
        color: $text-color;
      }
      .link_in_color:hover {
        color: #0b03fc;
      }
      @media screen and (max-width: 1140px) {
          .form-check-box {
            width: 20%;
            height: 1.3em;
            float: right;
            margin-top: -8%;
          }
          .btn_sign_in {
            width: 60%;
            height: 2.1em;
            background: #91CB82;
            font-weight: 400;
          }
          .link_in_color {
             font-size: 1em; 
          }
      }
       @media screen and (max-width: 720px) {
          .link_in_color {
            font-size: 0.9em;
          }
       }
}    

      
      @media (min-width: 720px) and (max-width: 960px) {
        
      }
  }
// Stylew for partials links

