p
  | Welcome #{@email}!
p Hello dear User of Hostmeplease app.
p Thanks for choosing our service. 
p Use this link below to confirm your mail:
p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token)
