<% 9.times do %>
  <div class="row justify-content-center">
    <div class="card col" style='width: 18rem;'>
      <%= image_tag 'Potential-Feature-Image-2-1280x640.png', class: 'card-img-top' %>
      <div class="card-body">
        <h5 class='card-title'><%= @places[0].title %></h5>
        <p class='card-text'><%= @places[0].description %></p>
        <a href="#" class='btn btn-primary col-sm'>Go somewhere</a>
      </div>
    </div>
  </div>
<% end %>
