<% @places.each do |p| %>
  <div class="col">
    <div class="card text-white card-has-bg click-col" style='border: none; border-radius: 20px;'>
     <div class="card-img-overlay d-flex flex-column">
       <div class="card-footer">
         <div class="row">
           <div class='col-6'>
             <h2><%= p.price %></h2>
           </div>
           <div class='col-6'>
             <button type="button" class="btn btn-success">Details</button>
           </div>
         </div>
       </div>
     </div>
    </div>
  </div>
<% end %>
