<!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
   <div class="container">
     <div class="row">
       <div class="col-xl-6">
         <h1>Bettter digital experience with Presento</h1>
         <h2>We are team of talented designers making websites with Bootstrap</h2>
       </div>
     </div>
   </div>
 </section><!-- End Hero -->
<div class="d-flex align-items-center">
  <div class="container-fluid it">
    <div class="left-right">
      <%= render 'place' %>
    </div>
  </div>
</div>
