<!-- ======= Header ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <%= render 'shared/header' %>
    <div class="row">
      <div class="col-xl-8">
        <h1>Find top coworking</h1>
        <h1>spaces near you</h1>
      </div>
    </div>
  </div>
</section>
<!-- End header -->

<!-- Filter -->
<div class="container-fluid filter" style='background: #444C4D;height: 183px;'>
  <div class="row">
    <div class="col-xl-6 ">
      <button type="button" class="btn s-filter">Apply filters</button>
    </div>
    <div class="col-xl-6">
      <div class="dropdown s-price">
        <p class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Sort by price
        </p>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Low to Hight</a></li>
          <li><a class="dropdown-item" href="#">Hight to Low</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End filter -->


<div class="d-flex align-items-center">
  <div class="container-fluid it">
    <div class="py-5">
      <div class="container">
        <div class="row hidden-md-up">
          <%= render 'place' %>
        </div>
      </div>
    </div>
    <div class="row pag">
      <div class="mx-auto">
        <div class="apple_pagination">
          <%= will_paginate @places, container: false,
                                     previous_label: '« Prev',
                                     next_label: 'Next »'%>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
