<!-- ======= Header ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <%= render 'shared/header' %>
    <div class="row">
      <div class="col-xl-8">
        <h1>Find top coworking</h1>
        <h1>spaces near you</h1>
      </div>
    </div>
  </div>
</section>
<!-- End header -->

<!-- Filter -->
<div class="container-fluid filter" style='background: #444C4D;height: 183px;'>
  <div class="row">
    <div class="col-xl-6 ">
      <button type="button" class="btn s-filter">Apply filters</button>
    </div>
    <div class="col-xl-6">
      <div class="dropdown s-price">
        <p class="dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Sort by price
        </p>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item" href="#">Low to Hight</a></li>
          <li><a class="dropdown-item" href="#">Hight to Low</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End filter -->


<div class="d-flex align-items-center">
  <div class="container-fluid it">
      <div class="py-5">
        <div class="container">
          <div class="row hidden-md-up">
            <%= render 'place' %>
          </div>
        </div>
      </div>
      <div class="row pag">
        <div class="mx-auto">
          <%= will_paginate @places %>
        </div>
      </div>
    </div>
  </div>
<%= render 'shared/footer' %>

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Элемент аккордеона #1
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Элемент аккордеона #2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Элемент аккордеона #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
</div>
